.row{
    display: flex;
    flex-wrap: wrap;
    
}

.box{
    min-height: 50px;
    background-color: #006cfa;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    padding: 10px;
    
}

.big-box{
    min-height: 100px;
    background-color: #006cfa;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    padding: 10px;
    
}

.nested{
    min-height: 50px;
    background-color:#00e165;
    color: #fff;
    text-align: center;
    border: 1px solid #006cfa;
    padding: 10px;
}

.m-top-20{
    margin-top: 20px;
}
.m-bottom-20{
    margin-bottom: 20px;
}

.align-middle{
    align-self: center;
}

.align-bottom{
    align-self: flex-end;
}

.justify-ar{
    justify-content: space-around;
}

.justify-be{
    justify-content: space-between;
}
